<ion-view>
<ion-nav-title>About us</ion-nav-title>
<ion-content class="padding">
    <div class="list card">
        <div class="item item-avatar">
            <img src="img/tina.png">
            <h2>Tina Taneva</h2>
            <p>
                <a href="mailto:tinatanev@gmail.com" class="subdued"><i class="ion-email"></i></a>
                <a href="https://github.com/KristinaT" class="subdued">Tina's Github</a>
            </p>
        </div>
        <div class="item item-avatar">
            <img src="img/filip.png">
            <h2>Filip Boev</h2>
            <p>
                <a href="mailto:boev.filip@gmail.com" class="subdued"><i class="ion-email"></i></a>
                <a href="https://github.com/Kirkhammett" class="subdued">Filip's Github</a>
            </p>
        </div>
        <div class="item item-body">
            <h3>About the authors: </h3>
            <p>Filip and Tina are CS students, studying in the
                Faculty of Computer Science and Engineering.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
