<ion-view>
  <ion-nav-title>Details</ion-nav-title>
  <ion-content ng-show="mDtl" padding="true">
    <div ng-cloak class="list card ng-cloak">
      <ion-item>
        <h1 class="white-wrap"><a href="http://www.imdb.com/title/{{mDtl.imdbID}}">{{ mDtl.Title }} ({{mDtl.Year}})</a></h1>
        <p style="white-space:normal;text-align: center;">{{mDtl.Genre}} | {{mDtl.Rated}} | <i class="icon ion-clock"></i> <span ng-if="mDtl.Hours">{{mDtl.Hours}}h:</span><span>{{mDtl.Minutes}}min </span>| {{mDtl.Released}}
        </p>
        <h2 style="white-space:normal;text-align: center;">IMDB Rating: <i class="ion-android-star"><span>{{mDtl.imdbRating}}</span></i></h2>
        <h2 style="white-space:normal;text-align: center;">{{mDtl.imdbVotes}} votes</h2>
      </ion-item>
      <ion-item class="item white-wrap">
        <div class="item item-image">
          <img src="{{mDtl.Poster}}">
        </div>
        <br>
        <div class="details-container">
          <br>
          <span>{{mDtl.Plot}}</span>
          <p class="white-wrap">
            <br>
            <i class="icon ion-film-marker"></i> <span>Creators: {{mDtl.Director}}</span>
          </p>
          <p class="white-wrap">
            <i class="icon ion-android-contacts"></i> <span>Actors: {{mDtl.Actors}}</span>
          </p>
          <p class="white-wrap">
            <i class="icon ion-trophy"></i> <span>Awards: {{mDtl.Awards}}</span>
          </p>
          <p class="white-wrap">
            <i class="icon ion-social-youtube"></i>
            <a href="https://www.youtube.com/results?search_query={{mDtl.Title}} trailer" target="_blank"> View Trailer</a>
          </p>
        </div>
      </ion-item>
      <br>

      <form id="details-form" class="list">
        <label class="item item-input">
          <textarea placeholder="Add a Comment.."></textarea>
        </label>
        <button id="details-save-button" style="font-weight:lighter;" class="button button-balanced button-block" ng-click="sendData(mDtl)">Add to watchlist <i class="icon ion-ios-film-outline"></i></button>
      </form>
    </div>
  </ion-content>
</ion-view>
