<ion-view>
  <ion-nav-title>
    Watchlist
  </ion-nav-title>
  <ion-content ng-cloak padding="true">
      <div ng-show="!Watchlist" style="text-align: center; font-size: 2.5em">
      <a href='#' ng-click="delegateToSearch()" style="text-decoration: none"><i class="icon ion-plus-circled positive"></i><br/><br/><span style="color: gray">Add movies</span></a>
</div>
  <ion-list class="item-list" ng-show="Watchlist">
<div class="list card" ng-repeat="watcher in Watchlist | orderBy: 'watcher.Title'">
  <a class="item item-thumbnail-left">
			<img src="{{watcher.Poster}}" ng-if="watcher.Poster.startsWith('http')">
			<h2 class="white-wrap">{{watcher.Title}}</h2>
			<p>{{watcher.Year}}</p>
	</a>
	</div>
</ion-list>

</ion-content>
</ion-view>