/* Empty. Add your own CSS if you like */
.item-floating-label .placeholder-icon {
	float:right;
	padding-right: 18px;
	position: absolute;
	bottom: 9px;
	right:0px;
}

.item-floating-label {
	padding-left: 15px !important;
}

h2.white-wrap
{
	white-space: normal;
	height: 2.6em;
}